* {
    font-size: 16px; 
    font-weight: 200; 
    box-sizing: border-box; 
    font-family: 'Times New Roman', Times, serif;
}
/* Header styles */
header {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 10px 20px; 
    background-color: #000000; 
    height: 55px;
}

#logo-container {
    display: flex; 
    align-items: center; 
}

/* Logo styles */
#logo {
    font-size: 20px; 
    font-weight: 550; 
    color: #000000; 
    font-style: italic;
    color: white;
}

/* Plane icon styles */
.fa-plane {
    font-size: 40px; 
    color: #000000; 
    transform: rotate(310deg); 
    transition: transform 0.3s ease-in-out; 
    text-shadow: 
    -1px -1px 0 #ffffff, 
    1px -1px 0 rgb(255, 255, 255), 
   -1px  1px 0 rgb(255, 255, 255), 
    1px  1px 0 white;
}

/* Navigation list styles */
#nav-list {
    list-style-type: none;
    margin: 0; 
    padding: 0; 
    display: flex;
}

#nav-list li {
    margin: 0 15px; 
}

#nav-list li a {
    text-decoration: none; 
    color: white; 
    padding: 10px 15px;
    display: block; 
    font-size: 16px; 
    font-weight: bold; 
    transition: background-color 0.3s ease-in-out; 
}

#nav-list li a:hover {
    background-color: #2b937f; 
    border-radius: 5px; 
}

/* Header item styles (search bar and buttons) */
.header-item {
    display: flex; 
    align-items: center; 
}

.header-item input {
    padding: 5px; 
    font-size: 16px; 
    border: none; 
    border-radius: 5px; 
    margin-right: 10px; 
    width: 400px;
}

.header-item button {
    padding: 5px 10px; 
    font-size: 16px; 
    border: none; 
    border-radius: 5px; 
    background-color: #2b937f; 
    color: white; 
    cursor: pointer; 
    margin-right: 5px; 
}

.header-item button:hover {
    background-color: #2b937f; 
}

/* Tagline styles */
#tagline {
    font-size: 40px; 
    display: inline-block; 
    line-height: 1.8em; 
}